<nav>
  <a href="/"><h2 class="no-margins">{{ user_manager.USER_APP_NAME }}</h2></a>
  <div class="nav__links" id="navLinks">
    <i class="fa-solid fa-times" onclick="hideMenu()"></i>
    <ul>
      <li><a href=".">HOME</a></li>
      <li><a href="./about">ABOUT</a></li>
      <li><a href="./bot">ROBO ADVISOR</a></li>
      <li><a href="./contact">CONTACT</a></li>
    </ul>
  </div>
  <i class="fa-solid fa-bars" onclick="showMenu()"></i>
</nav>

  <!--  JavaScript for Toggle Menu    -->
  <script>
    var navLinks = document.getElementById("navLinks");
    function showMenu() {
      navLinks.style.right = "0";
    }
    function hideMenu() {
      navLinks.style.right = "-200px";
    }
  </script>