<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Main Page" />
    <meta name="viewport" content="with=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
    <script
      src="https://kit.fontawesome.com/f13cc26b40.js"
      crossorigin="anonymous"
    ></script>
    <title>Robo-Advisor</title>
  </head>
  <body>
    <section class="sub__header">
      <nav>
        <a href="."><img src="{{ url_for('static', filename='images/logo.png') }}" /></a>
        <div class="nav__links" id="navLinks">
          <i class="fa-solid fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href=".">HOME</a></li>
            <li><a href="./about">ABOUT</a></li>
            <li><a href="./bot">ROBO ADVISOR</a></li>
            <li><a href="./contact">CONTACT</a></li>
          </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
      </nav>
      <h1>About Us</h1>
    </section>

    <!--  About Us content   -->

    <section class="about__us">
      <div class="row">
        <div class="about__us__col">
          <h1>We are Canada's one of the first Robo-advisors</h1>
          <p>
            Robo-advisors work well for people who need at least some help with
            their investing portfolio. And those who need a lot of expertise
            will likely find robo-advisors to be valuable.
          </p>
          <a href="#" class="button__action btn">EXPLORE NOW</a>
        </div>
        <div class="about__us__col"><img src="{{ url_for('static', filename='images/about.jpg') }}" /></div>
      </div>
    </section>

    <!--  Footer   -->

    <section class="footer">
      <h4>About Us</h4>
      <p>Robo-advisors</p>

      <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </section>

    <!--  JavaScript for Toggle Menu    -->
    <script>
      var navLinks = document.getElementById("navLinks");
      function showMenu() {
        navLinks.style.right = "0";
      }
      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
