<html>
  <head>
    <title>Login and Registion form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_login.css') }}" />
  </head>
  <body>
    <div class="hero">
      <div class="form__box">
        <div class="button__box">
          <div id="btn"></div>
          <button type="button" class="toggle__btn" onclick="login()">
            Login
          </button>
          <button type="button" class="toggle__btn" onclick="register()">
            Register
          </button>
        </div>
        <div class="icons">
          <img src="{{ url_for('static', filename='images/fb.png') }}" />
          <img src="{{ url_for('static', filename='images/tw.png') }}" />
          <img src="{{ url_for('static', filename='images/gp.png') }}" />
        </div>

        <form id="login" class="input__group">
          <input
            type="text"
            class="input__field"
            placeholder="User Id"
            required
          />
          <input
            type="text"
            class="input__field"
            placeholder="Enter Password"
            required
          />
          <input type="checkbox" class="check__box" /><span
            >Remember Password</span
          >
          <button type="submit" class="submit__btn">Login</button>
        </form>

        <form id="register" class="input__group">
          <input
            type="text"
            class="input__field"
            placeholder="User Id"
            required
          />
          <input
            type="email"
            class="input__field"
            placeholder="Email Id"
            required
          />
          <input
            type="text"
            class="input__field"
            placeholder="Enter Password"
            required
          />
          <input type="checkbox" class="check__box" /><span
            >I agree to the terms & conditions</span
          >
          <button type="submit" class="submit__btn">Register</button>
        </form>
      </div>
    </div>

    <script>
      var x = document.getElementById("login");
      var y = document.getElementById("register");
      var z = document.getElementById("btn");

      function register() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "110px";
      }

      function login() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0";
      }
    </script>
  </body>
</html>
